.sampul {
  width: 5em;
  border: 1px solid #e7e7e7;
}

.table > tbody > tr > * {
  vertical-align: middle;
}
img {
  width: 17.85rem;
  height: 21rem;
}
img #img-Preview {
  width: 200%;
  height: 100%;
}
